<template>
  <app-auth :title="title" class="container">
    <form @submit="requestPassword" class="control">
      <b-field label="Username / Email" :type="( errorMessage ? 'is-danger' : null)" :message="errorMessage">
        <b-input maxlength="30"/>
      </b-field>

      <hr>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <nuxt-link to="/login" class="button is-text">Already remmembered?</nuxt-link>
        </div>
      </div>
    </form>
  </app-auth>
</template>

<script>
  export default {
    name: 'forgot-password',

    layout: 'auth',

    data () {
      return {
        title: 'Forgot Your Password?',
        errorMessage: null
      }
    },

    methods: {
      requestPassword (e) {
        e.preventDefault()
      }
    }
  }
</script>
