<template>
  <app-main :title="title">
    <div class="container">
      <div class="columns is-gapless">
        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Products</p>
                <p class="title">3,456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">In Stock</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Low Stocks</p>
                <p class="title">456K</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </app-main>
</template>

<script>
  export default {
    name: 'dashboard',

    data () {
      return {
        title: 'Dashboard'
      }
    }
  }
</script>
