<template>
  <app-auth :title="title" class="container">
    <form class="control" @submit.prevent="onSubmit">
      <b-field label="Username" label-for="username" :type="username.type" :message="username.error">
        <b-input name="username" v-model="model.username"/>
      </b-field>

      <b-field label="Password" label-for="password">
        <b-input name="password" type="password" v-model="model.password"/>
      </b-field>

      <hr>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Login</button>
        </div>
        <div class="control">
          <nuxt-link to="/forgot-password" class="button is-text">Forgot Password</nuxt-link>
        </div>
      </div>
    </form>
  </app-auth>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'

  export default {
    name: 'login',

    layout: 'auth',

    data () {
      return {
        title: 'Login',
        model: {
          username: null,
          password: null
        }
      }
    },

    computed: {
      username () {
        return {
          type: null,
          error: null
        }
      },

      ...mapState({ alerts: '$alerts' }),

      ...mapGetters(['hasAlerts'])
    },

    methods: {
      async onSubmit () {
        await this.$store.dispatch('login', this.model)

        this.$router.push('/')
      }
    }
  }
</script>
