<template>
  <app-main :title="title">
    <div class="container">
      <div class="columns">
        <div class="column is-2">
          <aside class="menu">
            <ul class="menu-list">
              <li><nuxt-link to="/manage" exact>Settings</nuxt-link></li>
              <li><nuxt-link to="/manage/account">Account</nuxt-link></li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <nuxt-child/>
        </div>
      </div>
    </div>
  </app-main>
</template>

<script>
  export default {
    name: 'manage',

    data () {
      return {
        title: 'Manage'
      }
    }
  }
</script>
