<template>
  <section>
    <toolbar is-form @submit="update"/>

    <div class="columns is-gapless">
      <form class="column is-8" @submit.prevent="onSubmit">

        <b-field label="Username" horizontal
          :type="fieldType('username')" :message="fieldMessage('username')">
          <b-input expanded v-model="model.username"/>
        </b-field>

        <b-field label="Email" horizontal
          :type="fieldType('email')" :message="fieldMessage('email')">
          <b-input type="email" expanded v-model="model.email"/>
        </b-field>

        <b-field label="Password" horizontal
          :type="fieldType('password')" :message="fieldMessage('password')">
          <b-input type="password" expanded password-reveal/>
        </b-field>

        <heading text="Profile"/>

        <b-field label="Full Name" horizontal
          :type="fieldType('fullname')" :message="fieldMessage('fullname')">
          <b-input expanded v-model="model.fullname"/>
        </b-field>

        <b-field label="Phone" horizontal
          :type="fieldType('phone')" :message="fieldMessage('phone')">
          <b-input expanded v-model="model.phone"/>
        </b-field>

        <b-field label="Address" label-for="address" horizontal
          :type="fieldType('address')" :message="fieldMessage('address')">
          <b-input type="textarea" expanded v-model="model.address"/>
        </b-field>
      </form>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import FormsMixin from '~/assets/mixins/forms'

  export default {
    name: 'account',

    mixins: [FormsMixin],

    computed: {
      ...mapState('account', ['model'])
    }
  }
</script>

