<template>
  <section>
    <toolbar is-form @submit="update"/>

    <div class="columns is-gapless">
      <form class="column is-8" @submit.prevent="onSubmit">

        <b-field v-for="[id, field] of Object.entries(model)" :key="id"
          :label="field.name" :label-for="id" :message="field.description">
          <b-taginput v-if="fieldTypeIs(type.array, field)"
            :id="id" v-model="field.value" expanded>
          </b-taginput>

          <b-upload v-else-if="fieldTypeIs(type.file, field)"
            :id="id" v-model="field.value" expanded>
          </b-upload>

          <b-checkbox v-else-if="fieldTypeIs(type.check, field)"
            v-for="(option, i) of fieldOptions(data)" :key="i"
            :id="id" :native-value="option" v-model="field.value">
          </b-checkbox>

          <b-radio v-else-if="fieldTypeIs(type.radio, field)"
            v-for="(option, i) of fieldOptions(data)" :key="i"
            :id="id" :native-value="option" v-model="field.value">
          </b-radio>

          <b-input v-else :id="id" :name="id" expanded v-model="field.value"/>
        </b-field>
      </form>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import FormsMixin from '~/assets/mixins/forms'

  export default {
    name: 'settings',

    mixins: [FormsMixin],

    data () {
      return {
        type: {
          string: 'string',
          array: 'array',
          boolean: 'boolean',
          file: 'file',
          select: 'select',
          radio: 'radio',
          check: 'check'
        }
      }
    },

    computed: {
      ...mapState('settings', ['model', 'relations'])
    },

    methods: {
      fieldTypeIs (type, field) {
        return field && field.type === type
      },

      fieldOptions (field) {
        const types = [this.type.select, this.type.radio, this.type.check]

        if (types.indexOf(field.type) >= 0) {
          return field.options || []
        }

        return []
      }
    },

    async fetch ({ store, params }) {
      await store.dispatch('api/show', { type: 'settings' })
    }
  }
</script>
