@import "~assets/scss/variables";
@import "~assets/scss/functions";

@import "~bulma/sass/utilities/initial-variables";
@import "~buefy/src/scss/utils/_all";
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: $family-sans-serif;
  font-weight: 400;
}

.page-header {
  background-color: $white-ter;
  border-bottom: 1px solid $grey-lighter;
}

.page-header,
.page-content {
  >.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

$navbar-height: 3.25rem;

main.wrapper {
  min-height: calc(100vh - #{$footer-height});

  html.has-navbar-fixed-top & {
    min-height: calc(100vh - #{$footer-height} - #{$navbar-height});
  }
}

