<template>
  <footer>
    <div class="container">
      <div class="is-clearfix">
        <p class="project" v-html="project"></p>
        <p class="copyright" v-html="copyright"></p>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'app-footer',

    props: ['project', 'copyright']
  }
</script>

<style lang="scss" scoped>
  @import '~assets/scss/variables';

  footer {
    background: $grey-lighter;
    padding: 8px 0;
    border-top: 1px solid $grey-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
  }

  .project {
    float: left;
    text-align: left;
  }

  .copyright {
    float: right;
    text-align: right;
  }
</style>
