<template>
  <header>
    <nav class="navbar is-dark is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <nuxt-link to="/" class="navbar-item" exact>
            <img src="/favicon.png" :alt="title" width="auto" height="32">
          </nuxt-link>

          <div class="navbar-burger">
            <span></span><span></span><span></span>
          </div>
        </div>

        <div class="navbar-menu" id="appMenu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <nuxt-link to="/manage" class="navbar-link">Manage</nuxt-link>

              <div class="navbar-dropdown">
                <nuxt-link to="/manage/account" class="navbar-item">Account</nuxt-link>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <nuxt-link to="/manage/account" class="navbar-link" v-html="username"></nuxt-link>

              <div class="navbar-dropdown is-right">
                <a @click="logout" class="navbar-item btn-link">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
  // import { mapActions } from 'vuex'

  export default {
    name: 'app-header',

    props: ['title', 'username'],

    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/login')
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/scss/variables";
  @import "~bulma/sass/utilities/initial-variables";
  @import "~bulma/sass/utilities/mixins";

  @include desktop {
    .navbar {
      a.navbar-link {
        &.is-active {
          border-top: 2px solid $primary;
          padding-top: 6px;
        }
        &:hover {
          background-color: lighten($grey-dark, 1%) !important;
        }
      }
      .navbar-item:hover > a.navbar-link {
        background-color: lighten($grey-dark, 1%) !important;
      }
    }
  }
</style>

