<template>
  <main class="wrapper">
    <section class="page-content">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third">
            <article class="panel">
              <p class="panel-heading" v-html="title"></p>

              <div class="panel-block">
                <slot/>
              </div>
            </article>
          </div>

          <slot name="extra-content"></slot>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  export default {
    name: 'app-auth',

    props: ['title']
  }
</script>
