<template>
  <main class="wrapper">
    <section class="page-header">
      <div class="container">
        <slot name="header-bar">
          <div class="columns is-gapless">
            <div class="column">
              <h1 class="page-title is-size-4" v-html="title"></h1>
            </div>
          </div>
        </slot>
      </div>
    </section>

    <section class="page-content">
      <slot></slot>
    </section>
  </main>
</template>

<script>
  export default {
    name: 'app-main',

    props: ['title']
  }
</script>
