<template>
  <div class="wapper">
    <div :id="id" class="chart"></div>
  </div>
</template>

<script>
  import { Chart } from 'frappe-charts'

  export default {
    name: 'chart',

    data () {
      return {
        instance: null,
        options: {
          title: this.title,
          data: {
            labels: this.labels,
            datasets: this.datasets,
            yMarkers: this.markers
          },
          height: this.height,
          colors: this.colors,
          type: this.type
        }
      }
    },

    props: {
      id: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      type: {
        type: String,
        default: 'line'
      },
      labels: {
        type: Array,
        required: true
      },
      datasets: {
        type: Array,
        default () {
          return []
        }
      },
      markers: {
        type: Array,
        default () {
          return []
        }
      },
      height: {
        type: Number,
        default: 300
      },
      colors: {
        type: Array,
        default () {
          return []
        }
      }
    },

    methods: {
      createChart () {
        return new Chart(`#${this.id}`, this.options)
      }
    },

    mounted () {
      this.instance = this.createChart()
    }
  }
</script>

