<template>
  <section class="container-fluid has-text-centered">
    <section class="hero is-light is-medium">
      <div class="hero-body">
        <h1 class="title">{{ label }}</h1>
        <p class="subtitle" v-if="link">Ingin <nuxt-link :to="link">menambahkan</nuxt-link> data baru?</p>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  name: 'empty-data',

  props: {
    link: {
      type: String,
      required: true
    },

    label: {
      type: String,
      default: 'Belum ada data :('
    }
  }
}
</script>

<style>
  tr.is-empty td {
    padding: 0
  }
</style>


