<template>
  <h3 class="separator" v-html="text"></h3>
</template>

<script>
  export default {
    name: 'heading',

    props: ['level', 'text']
  }
</script>


<style lang="scss" scoped>
  .separator {
    position: relative;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 2rem;
  }
</style>
