<template>
  <form class="field has-addons" @submit.prevent="filter">
    <div class="control">
      <input @input="filter" class="input" type="search" ref="keyword"
        :placeholder="placeholder" :name="name" :value="keyword">
    </div>
    <div class="control">
      <button @click="filter" class="button is-primary" type="submit">
        <b-icon icon="magnify"/>
      </button>
    </div>
  </form>
</template>

<script>
  import debounce from 'lodash/debounce'

  export default {
    name: 'search-form',

    props: {
      name: {
        type: String,
        default: 'search'
      },

      placeholder: {
        type: String,
        default: 'Cari...'
      },

      delay: {
        type: Number,
        default: 300
      },

      keyword: {
        type: String,
        default: ''
      }
    },

    methods: {
      filter () {
        this.$emit('search', this.$refs.keyword.value)
      }
    },

    created () {
      this.filter = debounce(this.filter, this.delay)
    }
  }
</script>

