<template>
  <div class="columns">
    <div v-if="!isForm" class="column is-2">
      <nuxt-link v-if="!hasRowsChecked" :to="resource.append('add')" class="button is-primary is-fullwidth">{{ createText }}</nuxt-link>
      <button v-else type="button" class="button is-danger is-fullwidth" @click="remove">{{ deleteText }}</button>
    </div>

    <div v-else class="column">
      <div class="buttons">
        <button type="button" class="button is-primary" @click="submit">{{ submitText }}</button>
        <button type="button" class="button is-light" @click="cancel">{{ cancelText }}</button>
        <button v-if="hasIndex && !isNew" type="button" class="button is-danger" @click="remove">{{ deleteText }}</button>
      </div>
    </div>

    <div class="column" v-if="!hasRowsChecked">
      <slot/>
    </div>

    <div v-if="searchable && !hasRowsChecked" class="column is-3">
      <b-field grouped>
        <b-input v-model="keyword" @input="filter" expanded type="search" icon="magnify"
          :placeholder="placeholder" :value="keyword"/>

        <div v-if="hasOptions" class="control">
          <b-dropdown position="is-bottom-left">
            <button class="button is-primary" slot="trigger">
              <b-icon icon="tune"/>
            </button>

            <slot name="dropdown-items"/>
          </b-dropdown>
        </div>
      </b-field>
    </div>

    <div v-if="isForm && (hasIndex && !isNew)" class="column is-2">
      <nuxt-link :to="resource.append('add')" class="button is-info is-fullwidth">{{ createText }}</nuxt-link>
    </div>
  </div>
</template>

<script>
  import debounce from 'lodash/debounce'

  // const SearchForm = () => import('~/components/search-form')

  export default {
    name: 'toolbar',

    // components: { SearchForm },

    data () {
      return {
        keyword: null
      }
    },

    props: {
      resource: {
        type: Object,
        default () {
          return {
            path: null,
            name: null,
            append: param => param
          }
        }
      },

      meta: {
        type: Object,
        default () {
          return {
            isLoading: false,
            checkedRows: []
          }
        }
      },

      placeholder: {
        type: String,
        default: 'Cari...'
      },

      submitText: {
        type: String,
        default: 'Kirim'
      },

      createText: {
        type: String,
        default: 'Baru'
      },

      cancelText: {
        type: String,
        default: 'Batal'
      },

      deleteText: {
        type: String,
        default: 'Hapus'
      },

      searchable: {
        type: Boolean,
        default: false
      },

      isForm: {
        type: Boolean,
        default: false
      },

      isNew: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      hasIndex () {
        return !!this.resource.path
      },

      hasOptions () {
        return !!this.$slots['dropdown-items']
      },

      hasRowsChecked () {
        return !!this.meta.checkedRows.length
      },

      rowsToDelete () {
        return this.isForm ? this.$route.params.id : this.meta.checkedRows
      }
    },

    methods: {
      filter () {
        this.$emit('search', this.keyword)
      },

      submit () {
        this.$emit('submit')
      },

      cancel () {
        this.$router.push(this.resource.path)
      },

      remove () {
        this.$emit('delete', this.rowsToDelete)
      }
    },

    created () {
      this.filter = debounce(this.filter, 300)
    }
  }
</script>

