<template>
  <div>
    <nuxt/>

    <app-footer :project="$project.title" :copyright="$project.company"/>
  </div>
</template>

<script>
  import ProjectMixins from '~/assets/mixins/project'

  const AppFooter = () => import('~/components/app-footer')

  export default {
    name: 'layout-auth',

    middleware: 'unauthenticate',

    mixins: [ProjectMixins],

    components: { AppFooter },

    head () {
      return {
        title: this.pageTitle()
      }
    }
  }
</script>
