<template>
  <div>
    <app-header :title="$project.title" :username="account.profileName"/>

    <nuxt/>

    <app-footer :project="$project.title" :copyright="$project.company"/>
  </div>
</template>

<script>
  import { mapGetters, mapState, mapActions } from 'vuex'
  import ProjectMixins from '~/assets/mixins/project'

  const AppHeader = () => import('~/components/app-header')
  const AppFooter = () => import('~/components/app-footer')

  export default {
    name: 'layout-default',

    components: { AppHeader, AppFooter },

    middleware: 'authenticate',

    mixins: [ProjectMixins],

    head () {
      return {
        title: this.pageTitle(),
        htmlAttrs: {
          class: 'has-navbar-fixed-top'
        }
      }
    },

    computed: {
      ...mapState('account', { account: 'model' }),

      ...mapGetters([ 'authCheck', 'hasAlerts' ])
    },

    methods: {
      ...mapActions('account', ['fetch'])
    },

    async created () {
      // await this.fetch()
    }
  }
</script>
