<template>
  <app-main :title="title">
    <div class="container">
      <nuxt-link to="/">Home page</nuxt-link>
    </div>
  </app-main>
</template>

<script>
  import ProjectMixins from '~/assets/mixins/project'

  export default {
    props: ['error'],

    mixins: [ProjectMixins],

    data () {
      return {
        title: this.getErrorTitle(),
        body: this.getErrorBody()
      }
    },

    head () {
      return {
        title: this.pageTitle(this.title)
      }
    },

    methods: {
      getErrorTitle () {
        if (this.error.statusCode === 404) {
          return 'Page not found'
        }

        console.info(this.error.response || this.error) // eslint-disable-line no-console

        return this.error.message || 'An error occurred'
      },

      getErrorBody () {
        if (this.error.response && this.error.response.data) {
          return this.error.response.data
        }

        return null
      }
    }
  }
</script>
